/* JournalEntryFilter.css */

.journal-entry-filter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.journal-entry-filter select,
.journal-entry-filter input[type="date"],
.journal-entry-filter button {
  padding: 8px 12px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 20px; /* Adjust border-radius for rounded buttons */
}

.journal-entry-filter button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.journal-entry-filter button:hover {
  background-color: #0056b3;
}

.journal-entry-filter button:active {
  transform: translateY(1px);
}
