form.inputs2{
    margin-top: 50px;
    margin-right: 10%;
}


input.email2{
    position: absolute;
}

input.password2{
    position: absolute;
    margin-top: 50px;

}

button.submit2{
    position: absolute;
    margin-top: 100px;
    margin-left: 3%;

}

div.signup2{
    position: absolute;
    margin-top: 150px;
    margin-left: 48%;
}


