form.inputs2{
    margin-top: 50px;
    margin-right: 10%;
}


input.email2{
    position: absolute;
}

input.password2{
    position: absolute;
    margin-top: 50px;

}

button.submit2{
    position: absolute;
    margin-top: 100px;
    margin-left: 3%;

}

div.signup2{
    position: absolute;
    margin-top: 150px;
    margin-left: 48%;
}

select.usertype{
    margin-top: 20px;
    position: absolute;
    margin-left: -4%;

}

input.email2{
    margin-top: 55px;
    position: absolute;
    margin-left: -4.8%;

}
input.password2{
    position: absolute;
    margin-top: 90px;
    margin-left: -4.8%;

}

button.login2{
    position: absolute;
    margin-top: 130px;
    margin-left: -1.4%;

}

div.no-account{
    position: absolute;
    margin-top: 160px;
    margin-left: 42%;

}

div.forgot-password{
    position: absolute;
    margin-top: 180px;
    margin-left: 46%;
}
