form.inputs{
}

img.signup-logo{
    width: 150px;
    height: auto;
    position: absolute;
    top: 70px;
    margin-left: -5.1%;
}

select.select-user{
    margin-top: 155px;
    position: absolute;
    margin-left: -4.3%;
}

input.email{
    margin-top: 190px;
    position: absolute;
}
input.password{
    position: absolute;
    margin-top: 225px;
}
input.firstname{
    position: absolute;
    margin-top: 260px;
}

input.lastname{
    position: absolute;
    margin-top: 295px;
}

input.dob{
    position: absolute;
    margin-top: 330px;
    /*margin-left: 1%;*/
    padding-left: 27px;

}

input.address{
    margin-top: 360px;
}

button.signup{
    position: absolute;
    margin-top: 400px;
    margin-left: -7.25%;

}

div.login{
    position: absolute;
    margin-top: 55px;
    margin-left: 48.5%;
}


