.password-underline{
    width: 250px;
    height: 6px;
    background-color: #172f17;
    border-radius: 9px;
}

.password-box{
    padding-top: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 550px;
    margin: 20px auto auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}